{% extends "base.html" %} 

{% block title %}Detail{% endblock title %} 

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <p class="display-4">{{destination.name}}</p>
            <hr class="my-4">
            <p class="lead">{{destination.description}}</p>
            <p>{{destination.activities}}</p>
        </div>
    </div>
    <p><img src="{{destination.pretty_picture.url}}" height="500px" width="99%"></p>
    <p class="d-block p-2 bg-primary text-white">{{destination.optimal_visiting_season}}</p>
    <a href="{% url 'destination-update' destination.id %}">
        <button class="btn btn-success">Update</button>
    </a>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      DELETE
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Do you want to delete the data? : {{destination.name}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">
                <a href="{% url 'destination-delete' destination.id %}">
                    <button class="btn btn-danger">Delete</button>
                </a></button>
          </div>
        </div>
      </div>
    </div>
    
    <!--<a href="{% url 'destination-delete' destination.id %}">
        <button class="btn btn-danger">Delete</button>
    </a>-->
{% endblock content %}